snippet #!sh
#!/bin/sh
endsnippet

snippet #!bash
#!/bin/bash
endsnippet

snippet #!nb
#! /usr/bin/env nix-shell
#! nix-shell -i bash -p bash
endsnippet

snippet #!hs
#! /usr/bin/env nix-shell
#! nix-shell -i runhaskell -p "haskell.packages.ghc${1:8101}.ghcWithPackages (p: with p; [${2}])"
endsnippet
